<div id="wrapper-{{flight.bookingNum}}" style="position: absolute">
  <div id="flight-details-{{flight.bookingNum}}" class="flight-details hidden">
    <button
      data-dismiss="flight-details"
      class="transparent-button"
      style="position: absolute; top: 1rem; left: 1rem"
    >
      X Close
    </button>
    <div class="flight-info" style="width: 85%; position: relative; top: -3em">
      <h1>Flight Details</h1>
      <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <div id="airline-flight-number">
          <h3 id="airline" style="margin-bottom: 0;">{{ flight.airline }}</h3>
          <h3 id="flight-number" style="margin-top: 0;">{{ flight.flightNum }}</h3>
        </div>
        <div id="checkin-status" style="text-align: center">
          <p><strong>Check-in Status</strong></p>
          {% if flight.isCheckedIn == 1 %}
            <p style="color: lawngreen;">Checked In</p>
          {% else %}
            <p style="color: red;">Not Checked In</p>
          {% endif %}
        </div>
      </div>
      <div id="recent-flight-date-time">
        <div id="flight-date" style="align-items: flex-start">
          <p><strong>Flight Date</strong></p>
          <p>{{ flight.date }}</p>
        </div>
        <div
          class="recent-flight-departure-arrival-loc"
          style="
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            text-align: center;
            margin-bottom: 1em;
            justify-content: space-evenly;
          "
        >
          <div class="departure-location">
            <p><strong>Departure Location</strong></p>
            <p>{{ flight.origin }}</p>
          </div>
          <div class="arrival-location">
            <p><strong>Arrival Location</strong></p>
            <p>{{ flight.destination }}</p>
          </div>
        </div>
        <div
          id="recent-flight-times"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
          "
        >
          <div id="departure-time">
            <p><strong>Departure Time</strong></p>
            <p>{{ flight.departureTime }}</p>
          </div>
          <div id="arrival-time">
            <p><strong>Arrival Time</strong></p>
            <p>{{ flight.arrivalTime }}</p>
          </div>
        </div>

        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          "
        >
          <div id="selected-seat">
            <p><strong> Your Seat Number</strong></p>
            <p>{{ flight.seatNum }}</p>
          </div>
          <div id="bookingNum" style="text-align: center">
            <p><strong>Booking Number</strong></p>
            <p>{{ flight.bookingNum }}</p>
          </div>
        </div>
      </div>
      <div
        class="passengers-details"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div class="first-name">
          <h2>First Name</h2>
          <p>{{ flight.firstName }}</p>
        </div>
        <div class="last-name">
          <h2>Last Name</h2>
          <p>{{ flight.surname }}</p>
        </div>
        <a
          id="cancel-flight-button"
          class="cancel-flight-button"
          data-flight-date="{{ flight.date }}"
          href='{{ url_for("cancel_flight", bookingNum = flight.bookingNum) }}'
        >
          Cancel Flight
        </a>
      </div>
    </div>
  </div>
</div>
