.profile{
  height: 55%;
}

.user-profile-main{
  display: flex;
}

.user-profile{
  background-color: white;
  width: 65em;
  position: absolute;
  left: 10em;
  top: 6em;
  border-radius: 1em;
}

#profile-background{
  width: 63em;
  margin: 1em;
  border-radius: 1em;
}

#profile-picture{
  position: absolute;
  top: 15em;
  right: 55.5em;
  width: 8em;
  margin: 1em;
  
}

.user-profile-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.name-username h1, p{
  margin: 0;
}

.name-username p{
  color: gray;
}

.personal-info{
  display: flex;
  flex-direction: row;
  
}

.personal-info-details{
  display: flex;
  flex-direction: column;
}

.personal-info-details p{
  color: gray;
  margin: 0.5em 4em 1em 1em;
}

.personal-info-details h3{
  margin: 0 4em 0 1em;
  font-weight: lighter;
  font-size: medium;
}

.edit-user-profile button{
  background-color: var(--background-dark);
  color: var(--text-dark-mode);
  border-radius: 1em;
  height: 2em;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.edit-user-profile button:hover,
#recent-button-actions button:hover{
  background-color: var(--primary);
  color: black;
}

.profile-content{
  border-top: 1px black solid;
}

.profile-content-header{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.profile-content-header a{
  padding: 0.5em;
}

.profile-content-header :hover{
  background-color: grey;
  cursor: pointer;
  border-radius: 1em;
  color: whitesmoke;
}

#recent-flight-list{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#recent-flight-list-container{
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--background-dark);
  margin: 1em;
}

#recent-flight-list-container h3,
#recent-flight-list-container p{
  font-size: medium;
}

#recent-flight-list-left{
  margin:  0 0 1em 1em;
}

#flight-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

#recent-flight-times{
  margin: 0;
  display: flex;
}

#arrival-time,
#departure-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

#recent-flight-list-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

#recent-button-actions{
  display: flex;
  flex-direction: column;
}

#recent-button-actions button{
  background-color: var(--background-dark);
  color: var(--text-dark-mode);
  border-radius: 1em;
  height: 2em;
  width: 10em;
  margin-top: 0.5em;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode .user-profile{
  background-color: #333333;
}