.profile{
  height: 55%;
}

.user-profile-main{
  display: flex;
}

.user-profile{
  background-color: white;
  width: 65em;
  position: relative;
  left: 10em;
  top: 6em;
  border-radius: 1em;
}

#profile-background{
  width: 63em;
  margin: 1em;
  border-radius: 1em;
}

#profile-picture{
  position: relative;
  top: -5em;
  right: 0;
  width: 15%;
  height: auto;
  margin-left: 1em;
  
}

.user-profile-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  position: relative;
  top: -5em;
}

.name-username h1, p{
  margin: 0;
}

.name-username p{
  color: gray;
}

.personal-info{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -5em;
}

.personal-info-details{
  display: flex;
  flex-direction: column;
}

.personal-info-details p{
  color: gray;
  margin: 0.5em 4em 1em 1em;
}

.personal-info-details h3{
  margin: 0 4em 0 1em;
  font-weight: lighter;
  font-size: medium;
}

.edit-user-profile button{
  background-color: var(--background-dark);
  color: var(--text-dark-mode);
  border-radius: 1em;
  height: 2em;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.edit-user-profile button:hover,
#recent-button-actions button:hover{
  background-color: var(--primary);
  color: black;
}

.profile-content{
  position: relative;
  top: -5em;
}

.profile-content-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin: 0.5em;
}

.profile-content-header a{
  padding: 0.75em;
}

.profile-content-header :hover{
  background-color: grey;
  cursor: pointer;
  border-radius: 1em;
  color: whitesmoke;
}

#recent-flight-list{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#recent-flight-list-container{
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--background-dark);
  margin: 1em;
}

#recent-flight-list-container h3,
#recent-flight-list-container p{
  font-size: medium;
}

#recent-flight-list-left{
  margin:  0 0 1em 1em;
}

#flight-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

#recent-flight-times{
  margin: 0;
  display: flex;
  margin-bottom: 1rem;
}

#arrival-time,
#departure-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

#recent-flight-list-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

#recent-button-actions{
  display: flex;
  flex-direction: column;
}

#recent-button-actions button{
  background-color: var(--background-dark);
  color: var(--text-dark-mode);
  border-radius: 1em;
  height: 2em;
  width: 10em;
  margin-top: 0.5em;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.flight-details {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  margin: 0;
  width: 40%;
  height: 100%;
  background-color: var(--background-light);
  color: var(--text-light-mode);
  z-index: 1000;
  box-shadow: -2.5px 0 5px var(--background-dark);
  border-radius: 1em;
}

.hidden {
  display: none;
}

.transparent-button{
  background-color: transparent;
  cursor: pointer;
  color: var(--text-light-mode);
  border: none;
  font-size: large;
}

.first-name,
.last-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-name h2, .last-name h2{
  font-size: medium;
}

.first-name p, .last-name p{
  margin-left: 1em;
  color: var(--text-light-mode);
}

#selected-seat{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-flight-button{
  display:flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  width: 35%;
  height: 7.5%;
  background-color: rgb(230, 65, 65);
  color: white;
  border: 5px solid white;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.cancel-flight-button:hover{
  background-color: rgb(255, 73, 73);
  font-weight: bold;
}

body.dark-mode .user-profile{
  background-color: #333333;
}

body.dark-mode #recent-flight-list-container{
  background-color: #1e1e1e;
  box-shadow: 0 0 5px var(--background-light);
}

body.dark-mode #flight-details{
  background-color: #1e1e1e;
}

body.dark-mode .transparent-button{
  color: var(--text-dark-mode);
  
}

@media only screen and (max-width: 500px) {
  .user-profile{
    width: 100%;
    left: 0;
    top: 5em;
  }

  #profile-background{
    width: 450px;
  }

  #profile-picture{
    width: 15%;
  }

  .flight-details{
    width: 100%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 650px) {
  .user-profile{
    width: 100%;
    left: 0;
    top: 5em;
  }

  #profile-background{
    width: 95%;
    height: auto;
    object-fit: cover;
  }

  #profile-picture{
    width: 20%;
  }

  .flight-details{
    width: 100%;
  }

  #recent-flight-list-container{
    width: 95%;
  }
}