@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'Trueno-Round';
    src:url('Trueno-Round.ttf.woff') format('woff'),
        url('Trueno-Round.ttf.svg#Trueno-Round') format('svg'),
        url('Trueno-Round.ttf.eot'),
        url('Trueno-Round.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2ch;
}

.header {
    background-color: rgb(224, 221, 221);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 150;
}

.header-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 80px;
    height: 64px;
    width: 100%;
}

.logo{
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 0%;
    height: 100%;
}

.useful-links{
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.link{
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
}

.nav-link{
    display: inline-flex;
    color: var(--text-light-mode);
    text-decoration: none;
}

.profile{
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
}

.Login-text{
    padding-left: 2px;
}

:root{
    --primary: #82C26E; /*rgb primary (130, 194, 110)*/
    --secondary: #0A85ED; /*rgb secondary (10, 133, 237)*/
    --background-dark: #050418;
    --text-dark-mode: #e8e6fb;
    --background-light: #eae9fb;
    --text-light-mode:#06041a;
}

#register-page{
    display: flex;
    flex-direction: row;
}

#image-area{
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: changeBackground 12s infinite;
    overflow: hidden;
}

@keyframes changeBackground {
    0% {
        background-image: url('img/japan1.jpg');
    }
    25% {
        background-image: url('img/paris1.jpg');
    }
    50% {
        background-image: url('img/egypt1.jpg');
    }
    75%{
        background-image: url('img/riodejaneiro1.jpg')
    }
    100% {
        background-image: url('img/japan1.jpg'); /* Loop back to the first image */
    }
}

#reg-area{
    box-shadow: -5px 0 15px rgba(10, 133, 237, 0.2);
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#reg-cont{
    background-color: white;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 5px var(--text-light-mode);
    border-radius: 20px;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2ch;
}

.reg-form{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.reg-form input{
    width: 15rem;
    margin: 0.8ch;
}