@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Trueno-Round';
    src: url('Trueno-Round.ttf.woff') format('woff'),
        url('Trueno-Round.ttf.svg#Trueno-Round') format('svg'),
        url('Trueno-Round.ttf.eot'),
        url('Trueno-Round.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2ch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    background-color: rgb(224, 221, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    padding-right: 1rem;
}

.header-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 80px;
    height: 64px;
    width: 100%;
}

.logo {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 0%;
    height: 100%;
}

.useful-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.link {
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
}

.nav-link {
    display: inline-flex;
    color: var(--text-light-mode);
    text-decoration: none;
}

.profile {
    display: inline-block;
    text-align: center;
    -webkit-box-align: center;
    align-self: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 13px;
}

.profile-text {
    padding-left: 5px;
    font-family: 'Roboto', serif;
}

.dropdown {
    display: none;
    /* Hide dropdown by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile:hover .dropdown {
    display: block;
    /* Show dropdown on hover */
}

.carousel {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100%;
    left: 10px;
    transition: background-color 0.3s ease-in-out;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100%;
    right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#home-page-main {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    min-width: 80%;
    z-index: 10;
    position: relative;
    margin: 20em auto 2rem auto;
}


.trip-options {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.departure p,
.return p {
    margin: 0 0 5px 0;
    font-size: small;
}

.return {
    display: block;
}

.fields {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.fields input,
.fields select {
    padding: 0 10px 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 2em;
}

.duplicateFields {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.duplicateFields input,
.duplicateFields select {
    padding: 0 10px 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 2em;
}

.duplicateFields .departure {
    margin: 0 3rem 0 3rem;
}

.remove-stop {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 10px;
    align-items: center;
}

.actions input {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.actions button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--text-light-mode);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.actions button:hover {
    background-color: var(--secondary);
}

.add-stops-button {
    cursor: pointer;
}

:root {
    --primary: #82C26E;
    /*rgb primary (130, 194, 110)*/
    --secondary: #0A85ED;
    /*rgb secondary (10, 133, 237)*/
    --background-dark: #050418;
    --text-dark-mode: #e8e6fb;
    --background-light: #f0f0f0;
    --text-light-mode: #06041a;
}

#register-page {
    display: flex;
    flex-direction: row;
}

#image-area {
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: changeBackground 12s infinite;
    overflow: hidden;
}

@keyframes changeBackground {
    0% {
        background-image: url('img/kualalumpur1.jpg');
    }

    25% {
        background-image: url('img/melaka1.jpg');
    }

    50% {
        background-image: url('img/georgetown1.jpg');
    }

    75% {
        background-image: url('img/MountKinabalu1.jpg')
    }

    100% {
        background-image: url('img/kualalumpur1.jpg');
        /* Loop back to the first image */
    }
}

#reg-area {
    box-shadow: -5px 0 15px rgba(10, 133, 237, 0.2);
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#reg-cont {
    background-color: white;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 5px var(--text-light-mode);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2ch;
}

#reg-cont p {
    margin: 0;
    margin-left: 2%;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    color: red;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-top: 0.4ch;
}

.reg-form input {
    width: 60%;
    height: 30%;
    margin: 2%;
    margin-right: 10%;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.reg-form input:focus {
    transform: scaleX(1.1);
    transform-origin: left center;
}

.reg-form #submit {
    width: 25%;
    font-size: 16px;
}

.reg-form #submit:focus {
    transform: scaleX(1);
}

.reg-form #submit:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--text-dark-mode);
    text-shadow: 0 0 5px var(--background-dark);
}

#reg-title {
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#reg-title img {
    width: 20%;
    height: 100%;
}

#redirect-cont {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

#redirect-cont a {
    margin-left: 0.4rem;
    text-decoration: none;
    color: var(--text-light-mode);
    width: 6rem;
    height: 1.8rem;
    border: 2px black solid;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    background-color: lightgreen;
    transition: 0.2s ease;
}

#redirect-cont a:hover {
    background-color: var(--secondary);
}

#login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

#header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#header-login h1 {
    color: var(--text-light-mode);
    margin-left: 1%;
    font-size: 48px;
    text-shadow: 0 0 2px var(--text-light-mode);
}

#login-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 5%;
}

#login-submit {
    width: 20%;
    height: 15%;
    font-size: 16px;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 10px;
    color: var(--text-light-mode);
}

#login-submit:hover {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: var(--text-dark-mode);
}

.input-cont {
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 60%;
    height: 2rem;
    border-radius: 5px;
    align-items: center;
    margin: 1rem;
    border: 2px solid var(--text-light-mode);
}

.input-cont #login-pass {
    width: 90%;
}

.input-cont #login-user {
    width: 100%;
}

.input-cont input {
    height: 90%;
    border: none;
}

.input-cont input:focus {
    outline: none;
}

#pass-btn {
    height: 100%;
    border: 0 #fff solid;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#pass-btn img {
    width: 100%;
    height: 100%;
}

#cont-login {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 20px;
    width: 35%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

#redirect-login-cont {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: auto;
}

#redirect-login-cont a {
    margin-left: 0.4rem;
    text-decoration: none;
    color: var(--text-light-mode);
    width: 6rem;
    height: 1.8rem;
    border: 2px black solid;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    background-color: lightgreen;
    transition: 0.2s ease;
}

#redirect-login-cont a:hover {
    background-color: var(--secondary);
}

#top-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#flashed-msg {
    letter-spacing: 0.5ch;
    color: red;
}

footer {
    width: 100%;
    margin-top: 2rem;
    border-top: 1px var(--background-dark) solid;
    background-color: #82C26E;
    color: var(--text-light-mode);
    padding: 1rem;
    z-index: 5;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#items-footer-left {
    float: right;
    margin-right: 12rem;
    display: flex;
    flex-direction: column;
}

#items-footer-right {
    margin-left: 12rem;
    display: flex;
    flex-direction: column;
}

#items-footer-left h3,
#items-footer-right h3 {
    font-size: 28px;
    cursor: default;
}

#items-footer-left a,
#items-footer-right a {
    color: #45435c;
    text-decoration: none;
    margin-bottom: 1ch;
}

.left-content-footer {
    width: 50%;
}

#copyright-footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#settings-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-profile {
    display: flex;
    position: relative;
    top: 0;
    padding: 1px;
    top: 3rem;
}

.settings-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: 80%;
    position: relative;
    top: 3em;
}

.settings-option {
    display: flex;
    flex-direction: column;
    border-right: 1px black solid;
}

.settings-option a {
    color: #45435c;
    margin: 1em;
}

.settings-option a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.edit-profile,
.change-password,
.preferences {
    margin-left: 1em;
}

.edit-profile input {
    width: 40vw;
    height: 5vh;
}

.edit-profile #submit {
    width: 25%;
    font-size: 16px;
}

.edit-profile #submit:focus {
    transform: scaleX(1);
}

.edit-profile #submit:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--text-dark-mode);
    text-shadow: 0 0 5px var(--background-dark);
}

.security {
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
    top: -1em;
}

.security input {
    width: 40vw;
    height: 5vh;
}

.security #submit {
    width: 25%;
    font-size: 16px;
}

.security #submit:focus {
    transform: scaleX(1);
}

.security #submit:hover {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--text-dark-mode);
    text-shadow: 0 0 5px var(--background-dark);
}

#email-2fa-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px gray solid;
}

#inputs-2fa {
    display: flex;
    flex-direction: row;
}

#inputs-2fa input {
    width: 2rem;
    margin: 0;
    padding: 0;
}

#email-2fa label {
    margin-left: 1rem;
}

#email-2fa input[type=submit] {
    margin-top: 1em;
}

@media only screen and (max-width: 500px) {
    #cont-login {
        width: 20rem;
    }

    .link {
        display: none;
    }

    .carousel {
        height: fit-content;
        top: 3em;
        right: 0;
        left: 0;
    }

    .booking-form {
        margin: 10em auto 2rem auto;
    }

    .trip-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fields {
        flex-direction: column-reverse;
    }

    .duplicateFields {
        display: flex;
        flex-direction: column;
    }

    .add-stops-button {
        font-size: small;
    }

    #image1,
    #image2 {
        height: 100%;
    }

    .title-profile {
        top: 3rem;
    }

    #settings-main {
        overflow: hidden;
    }

    .settings-content {
        width: 100%;
        height: 40em;
        top: 3em;
    }
}

@media only screen and (min-width: 501px) and (max-width: 650px) {
    #cont-login {
        width: 25rem;
    }

    .header-container {
        padding: 0;
    }

    .carousel {
        width: 650px;
        height: fit-content;
        top: 3em;
        right: 0;
        left: 0;
    }

    .booking-form {
        margin: 13em auto auto;
    }

    .fields {
        flex-direction: column;
    }

    .duplicateFields {
        display: flex;
        flex-direction: column;
    }

    #image1 {
        background-image: url("__url_for('static',filename='img/promo1(650).png')");
    }

    #image2 {
        background-image: url("__url_for('static',filename='img/promo2(650).png')");
    }

    .title-profile {
        justify-content: flex-start;
        top: 3rem;
    }

    .settings-content {
        width: 100%;
        left: 0;
        top: 3em;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1399px) {
    #cont-login {
        width: 30rem;
    }

    .title-profile {
        top: 3rem;
    }

    .settings-content {
        top: 2em;
    }

    .booking-form {
        width: 90%;
        /* Adjust the width to fit within the specified range */
        margin: 15em auto 2rem auto;
        /* Adjust the margin to center the form */
    }

    .duplicateFields .fields {
        width: 87.5%;
    }

    .fields input,
    .fields select,
    .duplicateFields input,
    .duplicateFields select {
        width: 90%;
        /* Adjust the width of input fields and select elements */
    }

    .trip-options {
        flex-direction: row;
    }

    .dates {
        flex-direction: row;
        justify-content: space-between;
    }
}

.hidden-flight-list {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.main-content-flights {
    margin: 5rem 0 2rem 8rem;
}

#title-flights #type-of-flight {
    color: var(--primary);
}

#title-flights #location {
    color: var(--secondary);
}

#date-departure-info #cheapest-flight {
    color: var(--primary);
    text-decoration: underline
}

.flight-details {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0 0 -2rem -8rem;
}

#departure-flight-details {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px var(--background-dark);
    margin-top: 5rem;
}

#journey-departure {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
    border-right: 2px gray solid;
}

#journey-departure p {
    margin-left: 5%;
    margin-right: 5%;
}

#date-departure-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-right: 2px gray solid;
}

#date-departure-info p {
    letter-spacing: 0.6ch;
}

#passenger-departure-total {
    display: flex;
    justify-content: center;
    width: 30%;
}

#passenger-departure-total p {
    letter-spacing: 0.6ch;
}

#image1 {
    background-image: url("__url_for('static',filename='img/promo1(1399).png')");
}

#image2 {
    background-image: url("__url_for('static',filename='img/promo2(1399).png')");
}

.flight-list {
    display: flex;
    width: 100vw;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

#flight-list-container {
    width: 50rem;
    height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--background-dark);
}

#flight-list-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

#flight-list-right img {
    width: 120px;
    height: 120px;
    margin-top: 1.4rem;
}

#flight-list-right p {
    font-size: 20px;
}

#flight-list-right button {
    margin-top: 25%;
}

#flight-list-left {
    width: 70%;
}

#flight-list-left h3 {
    margin-left: 2rem;
    font-size: 24px;
}

#flight-times {
    margin-top: 3rem;
}

#flight-list-left p {
    margin: 1rem 0 0 3rem;
}

.cheapest-price {
    color: lawngreen;
    text-shadow: 0 0 1px black;
}

#select-flight-btn {
    height: 2rem;
    border-radius: 10px;
    background-color: var(--primary);
}

#select-flight-btn:hover {
    background-color: var(--secondary);
}

#edit-detail {
    margin: 5rem 0 0 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#edit-detail a {
    margin-left: 0.4rem;
    width: 2.5rem;
    height: 1.2rem;
    background-color: white;
    border: 2px black solid;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #050418;
}

#forgot-pass-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25rem;
    height: 20rem;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
}

#user-label {
    align-self: center;
}

#user-input-forgot-pass {
    margin-top: 5%;
    width: 75%;
    align-self: center;
}

#btn-forgot-pass {
    margin-top: 5%;
    width: 50%;
    align-self: center;
}

#flashed-messages {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.selected-flight {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#return-form,
#departure-form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 0.6rem;
    cursor: pointer;
}

#departure-form input,
#return-form input {
    margin-right: 0.4rem;
    background-color: #e9ecef;
    color: #6c757d;
    pointer-events: none;
    border-radius: 5px;
}

#departure-form label,
#return-form label {
    margin-left: 0.4rem;
}

#return-form div,
#departure-form div {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#change-flight-btn {
    margin-top: 2.2rem;
    background-color: #82C26E;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
}

#change-flight-btn:hover {
    background-color: var(--secondary);
}

#submit-btn-flights {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn-flights button {
    background-color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: #ffffff;
}

body.dark-mode .header,
body.dark-mode .dropdown {
    background-color: #333333;
}

body.dark-mode .dropdown-content :hover {
    background-color: #535353;
}

body.dark-mode p,
body.dark-mode svg,
body.dark-mode a,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode label {
    color: var(--text-dark-mode);
}

body.dark-mode input[type="text"],
body.dark-mode input[type="password"],
body.dark-mode input[type="submit"],
body.dark-mode input[type="radio"],
body.dark-mode input[type="date"],
body.dark-mode input[type="surname"],
body.dark-mode select[type="text"],
body.dark-mode select[name="number-of-passengers"],
body.dark-mode textarea {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

body.dark-mode .settings-content {
    background-color: #1e1e1e;
}

body.dark-mode .settings-option a:hover {
    color: #ffffff;
}

body.dark-mode .booking-form {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .center-box,
body.dark-mode details {
    background-color: #333333;
}

body.dark-mode #departure-flight-details,
body.dark-mode #flight-list-container {
    background-color: #333333;
}

body.dark-mode .cheapest-price {
    color: lawngreen;
    text-shadow: 0 0 1px black;
} 

@media only screen and (max-width: 500px) {
    #cont-login {
        width: 20rem;
    }

    #image1 {
        background-image: url("__url_for('static',filename='img/promo1(500).png')");
    }

    #image2 {
        background-image: url("__url_for('static',filename='img/promo2(500).png')");
    }

    #journey-departure {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    #date-departure-info {
        font-size: 12px;
    }

    #passenger-departure-total {
        font-size: 12px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 650px) {
    #cont-login {
        width: 25rem;
    }

    #image1 {
        background-image: url("__url_for('static',filename='img/promo1(650).png')");
    }

    #image2 {
        background-image: url("__url_for('static',filename='img/promo2(650).png')");
    }

    .footer {
        width: 100%;
    }

    #journey-departure {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    #date-departure-info {
        font-size: 15px;
    }

    #passenger-departure-total {
        font-size: 15px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1399px) {
    #cont-login {
        width: 30rem;
    }

    #journey-departure {
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }

    #date-departure-info {
        font-size: 18px;
    }

    #passenger-departure-total {
        font-size: 18px;
    }
}