@font-face {
    font-family: 'Trueno-Round';
    src:url('Trueno-Round.ttf.woff') format('woff'),
        url('Trueno-Round.ttf.svg#Trueno-Round') format('svg'),
        url('Trueno-Round.ttf.eot'),
        url('Trueno-Round.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;

.header {
    background-color: rgb(224, 221, 221);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 150;
}

.header-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 80px;
    height: 64px;
    width: 100%;
}

.logo{
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 0%;
    height: 100%;
}

.useful-links{
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.link{
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
}

.nav-link{
    display: inline-flex;
    color: var(--text-light-mode);
    text-decoration: none;
}

.profile{
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
}

.Login-text{
    padding-left: 2px;
}

:root{
    --primary: #82C26E; /*rgb primary (130, 194, 110)*/
    --secondary: #0A85ED; /*rgb secondary (10, 133, 237)*/
    --background-dark: #050418;
    --text-dark-mode: #e8e6fb;
    --background-light: #eae9fb;
    --text-light-mode:#06041a;
}

body{
    background-color: #f0f0f0;
}

.reg-form{
    display: flex;
    flex-direction: column;
    border: 2px var(--text-light-mode) solid;
    width: 25%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.reg-form input{
    width: 15rem;
}