<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <h1>Welcome Back!</h1>
    <h2>Let's get you back to your account.</h2>
    <form method="POST", name="login-form">
        <label>Username: </label>
        <input type="text" id="login-user" name="login-username" required>
        <label>Password: </label>
        <input type="password" id="login-pass" name="login-password" required>
        <input type="submit" id="login-submit">
    </form>
    <div id="redirect-cont">
        <p>Don't have an account? Click here:</p>
        <a href="/register" id="redirectBtn">Register</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>