<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}">
    <title>Profile | SkyLink</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
          <div class="logo">
              <a class="navbar-brand" href="/home">
                  <img src="{{url_for('static', filename='img/logo.png')}}" height="80" alt="SkyLink" href="/">
              </a>
          </div>
          <div class="useful-links">
              <div class="link">
                  <a class="nav-link" href="#">
                      <p>Purchases</p>
                  </a>
              </div>
              <div class="link">
                  <a class="nav-link" href="/check-in">
                      <p>Check-in</p>
                  </a>
              </div>
              <div class="link">
                  <a class="nav-link" href="#">
                      <p>Flight Status</p>
                  </a>
              </div>
              <div class="link">
                  <a class="nav-link" href="/support">
                      <p>Support</p>
                  </a>
              </div>
              <div class="profile">
                  <a class="nav-link" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" display="flex" width="25" fill=currentColor class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                      <p class="profile-text">{{ profile_Name }}</p>
                  </a>
                  <div class="dropdown">
                      <div class="dropdown-content">
                          <a href="/profile">Profile</a>
                          <a href="/settings">Settings</a>
                          <a href="/logout">Logout</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>
  
    <main id="user-profile-main">
      <div class="user-profile">
        <div class="user-profile-img">
          <div class="user-background">
            <img src="{{ url_for('static', filename='img/profile-background.png') }}" alt="Profile Background" id="profile-background">
            <img src="{{ url_for('static', filename='img/profile-picture.png') }}" alt="Profile Picture" id="profile-picture">
          </div>
        </div>

        <div class="user-profile-content">
          <div class="name-username">
            <h1>{{ user.name }}</h1>
            <p>{{ user.username }}</p>
          </div>
          <div class="edit-user-profile">
            <a href="/settings">
              <button>Edit Profile</button>
            </a>
          </div>
        </div>

        <div class="personal-info">
          <div class="personal-info-details">
            <h3>Email Address</h3>
            <p>{{ user.email }}</p>
          </div>
          <div class="personal-info-details">
            <h3>Phone Number</h3>
            <p>{{ user.phoneNumber }}</p>
          </div>
          
        </div>
      </div>
    </main>
    <script>
      const theme = localStorage.getItem('theme');
      if (theme === 'dark') {
          document.body.classList.add('dark-mode');
      }
      else if (theme === 'light') {
          document.body.classList.add('light-mode');
      }
  </script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
  </body>
</html>