<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}" />
    <title>Profile | SkyLink</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="logo">
          <a class="navbar-brand" href="/home">
            <img
              src="{{url_for('static', filename='img/logo.png')}}"
              height="80"
              alt="SkyLink"
              href="/"
            />
          </a>
        </div>
        <div class="useful-links">
          <div class="link">
            <a class="nav-link" href="{{ url_for('profile') }}#recent-flight-list-container">
              <p>Purchases</p>
            </a>
          </div>
          <div class="link">
            <a class="nav-link" href="/check-in">
              <p>Check-in</p>
            </a>
          </div>
          <div class="link">
            <a class="nav-link" href="/support">
              <p>Support</p>
            </a>
          </div>
          <div class="profile">
            <a class="nav-link" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                display="flex"
                width="25"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
              <p class="profile-text">{{ profile_Name }}</p>
            </a>
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main id="user-profile-main">
      <div class="user-profile">
        <div class="user-profile-img">
          <div class="user-background">
            <img
              src="{{ url_for('static', filename='img/profile-background.png') }}"
              alt="Profile Background"
              id="profile-background"
            />
            <img
              src="{{ url_for('static', filename='img/profile-picture.png') }}"
              alt="Profile Picture"
              id="profile-picture"
            />
          </div>
        </div>

        <div class="user-profile-content">
          <div class="name-username">
            <h1>{{ user.name }}</h1>
            <p>{{ user.username }}</p>
          </div>
          <div class="edit-user-profile">
            <a href="/settings">
              <button>Edit Profile</button>
            </a>
          </div>
        </div>

        <div class="personal-info">
          <div class="personal-info-details">
            <h3>Email Address</h3>
            <p>{{ user.email }}</p>
          </div>
          <div class="personal-info-details">
            <h3>Phone Number</h3>
            <p>{{ user.phoneNumber }}</p>
          </div>
        </div>

        <div class="profile-content">
          <div class="profile-content-header">
            <a>Flight Booking History</a>
            <div class="view-content-option">
              <div class="filter-container" style="position: relative; display: inline-block;">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                style="fill: currentColor; margin-right: 0.25em"
                viewBox="0 0 24 24"
                class="filterBy"
                onclick="toggleFilterPopup()"
                >
                  <path d="M13 20v-4.586L20.414 8c.375-.375.586-.884.586-1.415V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2.585c0 .531.211 1.04.586 1.415L11 15.414V22l2-2z"
                  ></path>
                </svg>

                <div id="filter-popup" class="filter-popup hidden">
                  <div class="filter-popup-content">
                    <div class="filter-popup-header">
                      <button onclick="toggleFilterPopup()" class="transparent-button" style="position: relative;">X</button>
                      <h3 style="display: flex; flex-direction: column; align-items: center; position: relative; top: -1rem;">Filter</h3>
                    </div>
                    <div class="filter-popup-body">
                      <div class="filter-popup-options" style="position: relative; top: -1rem;">
                        <div class="filter-popup-option row">
                          <input type="checkbox" id="upcoming-date" name="upcoming-date" value="date" />
                          <label for="date">Upcoming Date</label>
                        </div>
                        <div class="filter-popup-option row">
                          <input type="checkbox" id="past-flight" name="past-flight" value="date" />
                          <label for="past-flight">Past Flights</label>
                        </div>
                        <div class="filter-popup-option row">
                          <input type="checkbox" id="checkedIn" name="checkedIn" value="isCheckedIn" />
                          <label for="checkedIn">Checked In</label>
                        </div>
                        <div class="filter-popup-option row">
                          <input type="checkbox" id="notCheckedIn" name="notCheckedIn" value="isCheckedIn" />
                          <label for="notCheckedIn">Not Checked In</label>
                        </div>
                      </div>
                      <div class="filter-popup-action" style="display: flex; justify-content: center;">
                        <button onclick="applyFilters()">Apply</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                style="fill: currentColor; margin-right: 0.25em; margin-left: 0.25em;"
                viewBox="0 0 24 24"
                class="viewGrid"
              >
                <path
                  d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zM4 21h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: currentColor; margin-left: 0.25em"
                class="viewList"
              >
                <path
                  d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="profile-content-content">
            {% if recent_flights %}
            <div class="recent-flight-list-container">
              {% for flight in recent_flights %} {% include
              'includes/flight_details.html' %}
              <div class="recent-flight-list" id="cont-{{ loop.index }}" data-checked-in="{{ flight.isCheckedIn }}">
                <div
                  id="recent-flight-list-container"
                  class="departure-container"
                  style="justify-content: space-between"
                  
                >
                  <div class="recent-flight-list-left">
                    <div class="airline-flight-num">
                      <h3 id="airline" style="margin-bottom: 0.25em;">{{ flight.airline }}</h3>
                      <h3 id="flight-number" style="margin-top: 0.25em;">{{ flight.flightNum }}</h3>
                    </div>
                    <div
                      class="recent-flight-date-time"
                      style="text-align: center"
                    >
                      <div id="flight-date">
                        <p><strong>Flight Date</strong></p>
                        <p>{{ flight.date }}</p>
                      </div>
                      <div id="recent-flight-times">
                        <div id="departure-time" style="margin-right: 0.5em">
                          <p><strong>Departure Time</strong></p>
                          <p>{{ flight.departureTime }}</p>
                        </div>
                        <div id="arrival-time" style="margin-left: 0.5em">
                          <p><strong>Arrival Time</strong></p>
                          <p>{{ flight.arrivalTime }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="recent-flight-list-right">
                    <div
                      id="recent-flight-name"
                      style="
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        text-align: center;
                      "
                    >
                      <p><strong>First name / Surname</strong></p>
                      <p>{{ flight.firstName }} / {{ flight.surname }}</p>
                    </div>
                    <div id="recent-button-actions">
                      <a href ='/ticket/{{flight.bookingNum}}'id="ticket-view">View ticket</a>
                      <button
                        id="flight-info"
                        data-toggle="flight-details"
                        data-target="#flight-details-{{flight.bookingNum}}"
                      >
                        View details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <p
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
              "
            >
              No record found
            </p>
            {% endif %}
          </div>
          <div id="no-records-message" style="display: none; justify-content: center; align-items: center; padding: 1em;">
            No flights found that satisfies your filter criteria.
          </div>
        </div>
      </div>
    </main>



    <script>
      const theme = localStorage.getItem("theme");
      if (theme === "dark") {
        document.body.classList.add("dark-mode");
      } else if (theme === "light") {
        document.body.classList.add("light-mode");
      }

      function toggleFilterPopup() {
        const filterPopup = document.getElementById("filter-popup");
        filterPopup.classList.toggle("hidden");
      }

      function applyFilters() {
        const upcomingDateFilter = document.getElementById('upcoming-date').checked;
        const pastFlightFilter = document.getElementById('past-flight').checked;
        const checkedInFilter = document.getElementById('checkedIn').checked;
        const notCheckedInFilter = document.getElementById('notCheckedIn').checked;

        const flights = document.querySelectorAll('.recent-flight-list');
        let anyFlightVisible = false;

        flights.forEach(flight => {
          const isCheckedIn = flight.getAttribute('data-checked-in') === "True";
          const flightDate = new Date(flight.querySelector('#flight-date').textContent);
          const currentDate = new Date();

          let showFlight = true;

          if (upcomingDateFilter && flightDate <= currentDate) {
            showFlight = false;
          }

          if (pastFlightFilter && flightDate > currentDate) {
            showFlight = false;
          }

          if (checkedInFilter && !isCheckedIn) {
            showFlight = false;
          }

          if (notCheckedInFilter && isCheckedIn) {
            showFlight = false;
          }

          if (showFlight) {
            flight.style.display = '';
            anyFlightVisible = true;
          } else {
            flight.style.display = 'none';
          }
        });

        const noRecordsMessage = document.getElementById('no-records-message');
        if (anyFlightVisible) {
          noRecordsMessage.style.display = 'none';
        } else {
          noRecordsMessage.style.display = 'flex';
        }

        toggleFilterPopup();
      }

      function showDetails(event) {
        const targetId = event.target.getAttribute("data-target");
        const flightDetails = document.querySelector(targetId);
        flightDetails.classList.remove("hidden");
      }

      function hideDetails(event) {
        const flightDetails = event.target.closest(".flight-details");
        flightDetails.classList.add("hidden");
      }

      function hideCancelButtonIfPastDate() {
        const cancelButtons = document.querySelectorAll(
          "#cancel-flight-button"
        );
        const currentDate = new Date();

        cancelButtons.forEach((button) => {
          const flightDate = new Date(
            button
              .getAttribute("data-flight-date")
              .split("/")
              .reverse()
              .join("-")
          );
          if (flightDate < currentDate) {
            button.style.display = "none";
          }
        });
      }

      function setViewOption(view) {
        const flightListContainer = document.querySelector(
          ".recent-flight-list-container"
        );
        const recentFlightList = document.querySelectorAll(".recent-flight-list-left");
        const recentFlightDateTime = document.querySelectorAll(".recent-flight-date-time");
        if (view === "grid") {
          flightListContainer.classList.add("grid-view");
          recentFlightDateTime.forEach(item => item.classList.add("column-view"));
          recentFlightList.forEach(item => item.classList.add("left-column-view"));
          flightListContainer.classList.remove("list-view");
          recentFlightList.forEach(item => item.classList.remove("row-view"));
          recentFlightDateTime.forEach(item => item.classList.remove("row-view"));
        } else if (view === "list") {
          flightListContainer.classList.add("list-view");
          recentFlightDateTime.forEach(item => item.classList.add("row-view"));
          recentFlightList.forEach(item => item.classList.add("row-view"));
          flightListContainer.classList.remove("grid-view")
          recentFlightDateTime.forEach(item => item.classList.remove("column-view"));
          recentFlightList.forEach(item => item.classList.remove("left-column-view"));
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        document
          .querySelectorAll("[data-toggle='flight-details']")
          .forEach((button) => {
            button.addEventListener("click", showDetails);
          });
        document
          .querySelectorAll("[data-dismiss='flight-details']")
          .forEach((button) => {
            button.addEventListener("click", hideDetails);
          });
        hideCancelButtonIfPastDate();
        document
          .querySelector(".viewGrid")
          .addEventListener("click", () => setViewOption("grid"));
        document
          .querySelector(".viewList")
          .addEventListener("click", () => setViewOption("list"));
      });
    </script>
    <footer style="margin-top: 6em">
      <div class="footer-content">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="SkyLink"
          style="width: 14em;"
      </div>
      <div id="copyright-footer">
        <p>© 2024 Skylink. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
