<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}"
    <title>Register New User</title>
</head>
<body>
    <div id="register-page">
        <div id="image-area"></div>
        <div id="reg-area">
            <div id="reg-title">
                <img src="{{url_for('static', filename='img/logo.png')}}">
                <h1>New to SkyLink? Register Now!</h1>
            </div>
            <div id="reg-cont">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>*{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form name="register-form" method="POST" class="reg-form">
                    <input type="text" name="reg-ic" placeholder="Identification Card Number (I.C. Number)" required>
                    <input type="text" name="reg-full-name" placeholder="Full Name (according to I.C.)" required>
                    <input type="text" name="reg-hp-no" placeholder="Phone Number (Include Country Calling Code)" required>
                    <input type="text" name="reg-email" placeholder="Email Address" required>
                    <input type="text" name="reg-username" placeholder="Username" required>
                    <input type="password" name="reg-password" placeholder="Password" required>
                    <input type="submit" name="submit" id="submit">
                </form>
            </div>
            <div id="redirect-cont">
                <p>Already have an account?</p>
                <a href="/login" id="redirectBtn">Click here</a>
            </div>
        </div>
    </div>
</body>
</html>