<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register New User</title>
</head>
<body>
    <div id="reg-area">
        <div id="reg-title">
            <h1>New to SkyLink? Register Now!</h1>
        </div>
        <div id="reg-cont">
            <form name="register-form" class="reg-form">
                <label id="ic-no">Identification Card Number (I.C. Number): </label>
                <input type="text" name="reg-ic" required>
                <label id="full-name">Full Name (according to I.C.): </label>
                <input type="text" name="reg-full-name" required>
                <label id="phone-no">Mobile Phone Number: </label>
                <input type="text" name="reg-hp-no" required>
                <label id="email">Email Address: </label>
                <input type="text" name="reg-email" required>
                <label id="username">Username: </label>
                <input type="text" name="reg-username" required>
                <label id="password">Password: </label>
                <input type="password" name="reg-password" required>
                <input type="submit" name="submit" id="submit">
            </form>
        </div>
    </div>
</body>
</html>