<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}" />
    <title>Settings | SkyLink</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="logo">
          <a class="navbar-brand" href="/home">
            <img
              src="{{url_for('static', filename='img/logo.png')}}"
              height="80"
              alt="SkyLink"
              href="/"
            />
          </a>
        </div>
        <div class="useful-links">
          {% if email == "skylinkcustomerservice@gmail.com" %}
            <div class="link">
              <a class="nav-link" href="/admin">
                <p>Admin</p>
              </a>
            </div>
          {% endif %}
          <div class="link">
            <a class="nav-link" href="{{ url_for('profile') }}#recent-flight-list-container">
              <p>Purchases</p>
            </a>
          </div>
          <div class="link">
            <a class="nav-link" href="/check-in">
              <p>Check-in</p>
            </a>
          </div>
          <div class="link">
            <a class="nav-link" href="/support">
              <p>Support</p>
            </a>
          </div>
          <div class="profile">
            <a class="nav-link" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                display="flex"
                width="25"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
              <p class="profile-text">{{ profile_Name }}</p>
            </a>
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="settings-main">
      <h1 class="title-profile">Settings</h1>
      <div class="settings-content">
        <div class="settings-option">
          <a id="edit-profile-button">Edit Profile</a>
          <a id="change-password-button">Security</a>
          <a id="preferences-button">Preference</a>
        </div>
        <div>
          <div class="edit-profile">
            <form method="POST">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <p>Full Name</p>
              <input
                type="text"
                name="new-full-name"
                placeholder="Full Name (according to I.C.)"
                value="{{ user.name }}"
                required
              />
              <p>Username</p>
              <input
                type="text"
                name="new-username"
                placeholder="Username"
                value="{{ user.username }}"
                required
              />
              <p>Identification Number</p>
              <input
                type="text"
                name="new-ic"
                placeholder="Identification Card Number (according to I.C.)"
                value="{{ user.icNumber }}"
                required
              />
              <p>Phone Number</p>
              <input
                type="text"
                name="new-hp-no"
                placeholder="Phone Number (Include Country Calling Code)"
                value="{{ user.phoneNumber }}"
                required
              />
              <p>Email Address</p>
              <input
                type="text"
                name="new-email"
                placeholder="Email Address"
                value="{{ user.email }}"
                style="margin-bottom: 1em"
                required
              />
              {% with messages = get_flashed_messages() %} {% if messages %} {%
              for msg in messages %}
              <p>*{{ msg }}</p>
              {% endfor %} {% endif %} {% endwith %}
              <input type="submit" name="submit" id="submit" />
            </form>
          </div>
          <div class="security">
            <form method="POST" action="{{ url_for('change_password') }}">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <p>Current Password</p>
              <input
                type="password"
                name="reg-password"
                placeholder="Password"
                required
              />
              <p>New Password</p>
              <input
                type="password"
                name="new-password"
                placeholder="New Password"
                required
                style="margin-bottom: 1em"
              />
              <input type="submit" name="submit" id="submit" />
            </form>
            <div id="email-2fa-cont">
              <p>Turn on Email 2FA?</p>
              <form id="email-2fa" method="POST" action="{{ url_for('toggleAuth') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div id="inputs-2fa">
                {% if isToggled == 1 %}
                  <input type="radio" id="toggleEmail2FAOn" name="toggle-2fa" value="2fa-on" style="height: 15px;width: 15px;" required checked>
                  <label for="toggleEmail2FAOn">On</label>
                  <input type="radio" id="toggleEmail2FAOff" name="toggle-2fa" value="2fa-off" style="height: 15px;width: 15px;margin-left: 4rem;" required>
                  <label for="toggleEmail2FAOff">Off</label>
                {% else %}
                  <input type="radio" id="toggleEmail2FAOn" name="toggle-2fa" value="2fa-on" style="height: 15px;width: 15px;" required>
                  <label for="toggleEmail2FAOn">On</label>
                  <input type="radio" id="toggleEmail2FAOff" name="toggle-2fa" value="2fa-off" style="height: 15px;width: 15px;margin-left: 4rem;" required checked>
                  <label for="toggleEmail2FAOff">Off</label>
                {% endif %}
                </div>
                <input type="submit" name="submit" id="submit" />
              </form>
            </div>
            {% with messages = get_flashed_messages() %} 
              {% if messages %} 
                {% for msg in messages %}
                  <p>*{{ msg }}</p>
                {% endfor %} 
              {% endif %} 
            {% endwith %}
          </div>
          <div class="preferences">
            <div
              class="theme-toggle"
              style="display: flex; flex-direction: column"
            >
              <h2>Appearence</h2>
              <div class="dark-mode" style="margin-bottom: 1em">
                <input
                  type="radio"
                  id="dark-mode-toggle"
                  name="theme"
                  value="dark"
                />
                <label for="dark-mode-toggle">Dark Mode</label>
              </div>
              <div class="light-mode" style="margin-bottom: 1em">
                <input
                  type="radio"
                  id="light-mode-toggle"
                  name="theme"
                  value="light"
                />
                <label for="light-mode-toggle">Light Mode</label>
              </div>
              <div class="auto-mode" style="margin-bottom: 1em;">
                <input type="radio" id="auto-mode-toggle" name="theme" value="auto" />
                <label for="auto-mode-toggle">Auto</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <footer style="position: relative; bottom: -7.21rem;">
      <div class="footer-content">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="SkyLink"
          style="width: 14em;"
        >
      </div>
      <div id="copyright-footer">
        <p>© 2024 Skylink. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
